<h2>Student List</h2><br/>
<input class="btn btn-primary" type="button" value="{{showHideValue}}" (click)="canShowData()"><br/><br/>
<div *ngIf = "showHide">
  <ul *ngFor="let student of students">
    <li>Id: {{student.id}}</li>
    <li>Name: {{student.name}}</li>
    <li>Gender: {{student.gender}}</li>
  </ul>
</div>

<!--<table datatable class="row-border hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let student of students">
      <td>{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>{{student.gender}}</td>
    </tr>
  </tbody>
</table>-->

<!--search/asc desc filter does not works in datable here-->
